altgraph==0.17.4
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.8
ikea_api==2.3.0
macholib==1.16.3
packaging==24.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyPDF2==3.0.1
requests==2.32.3
setuptools==73.0.1
urllib3==2.2.2
